<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="peter.util.searcher"
    android:versionCode="2"
    android:versionName="1.1">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:fullBackupContent="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="570b299a67e58e684a000d79" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:name=".GuideActivity"/>
        <activity
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:name=".SettingActivity"/>
        <activity
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:name=".FavoriteActivity"/>
        <activity
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:name=".HistoryActivity"/>
    </application>

</manifest>